<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <div class="container">
        
        <div class="card">
          <div class="card-header">
            <img src="../assets/img/braca_karamazovi.jpg" alt="rover" />
          </div>
          <div class="card-body">
            <span class="tag tag-green">Dostupna knjiga</span>
            <h4>
              Braca karamazovi
            </h4>
            <p>
                Braća Karamazovi posljednji je roman ruskoga genija Fjodora Mihajloviča Dostojevskoga, koji je dovršio nepuna tri mjeseca prije smrti. Utjecaj ovoga romana, koji se smatra njegovim najvećim djelom, ne prestaje slabiti od njegova objavljivanja. Upečatljiva, snažna promišljanja o vjeri, smislu života, ljubavi i moralu duboko prožimaju Braću Karamazove, kao i niske strasti, pohlepa, tuga, ljubomora i humor. Nakon što je razvratni vlastelin Fjodor Pavlovič pronađen mrtav, život trojice njegovih sinova nepovratno se mijenja: Mitja, njegov prvenac, i sâm strastvena duša obuzeta zemaljskim zadovoljstvima, odmah pada pod sumnju za ocoubojstvo.
            </p>
            <div class="author">
              <img src="../assets/img/dostojevski.jpeg" alt="user" />
              <div class="author-info">
                <h5>Fjodor M. Dostojevski</h5>
                <small>Romantizam</small>
              </div>
            </div>

            <a href="#" class="button">Posudi knjigu!
            </a>
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
            <img src="../assets/img/mrtve_duse.jpg" alt="ballons" />
          </div>
          <div class="card-body">
            <span class="tag tag-red">Posuđena knjiga</span>
            <h4>
              Mrtve duše
            </h4>
            <p>
                Nedovršeni roman “Mrtve duše” Nikolaja Vasiljeviča Gogolja, objavljen 1842., prvotno je zamišljen kao poema u tri dijela, pisana po uzoru na Danteovu Božanstvenu komediju (podijeljenu na Pakao, Čistilište i Raj). Prvi dio Gogolj je pisao gotovo sedam godina u Parizu, Rimu i Švicarskoj, ali njegovo krhko psihičko stanje nije dočekalo završetak romana.
            </p>
            <div class="author">
              <img src="../assets/img/gogolj.jpg" alt="user" />
              <div class="author-info">
                <h5>Nikolaj Vasiljevič Gogolj</h5>
                <small>Pikarski roman</small>
              </div>
            </div>

            
          </div>
        </div>
        
        <div class="card">
          <div class="card-header">
            <img src="../assets/img/ana_karenjina.jpg" alt="city" />
          </div>
          <div class="card-body">
            <span class="tag tag-green">Dostupna knjiga</span>
            <h4>
              Ana Karenjina
            </h4>
            <p>
              Ana Karenjina je roman ruskog pisca Lava Nikolajeviča Tolstoja, koji je prvobitno objavljivan u djelovima od 1873. do 1877. godine. Prva pojava romana je bila u Ruskom glasniku, ali nije objavljen do kraja, pošto je Tolstoj došao u sukob s urednikom Mihailom Katkovim oko pitanja koja su pokrenuta u završnom dijelu.
            </p>
            <div class="author">
              <img src="../assets/img/tolstoj.jpg" alt="user" />
              <div class="author-info">
                <h5>Lav Nikolajevič Tolstoj</h5>
                <small>Roman</small>
              </div>
            </div>

            <a href="#" class="button">Posudi knjigu!
            </a>
        </div>

    </div>

</body>
</html>